[Unit]
Description=Update hyprsunset config and restart service

[Service]
Type=oneshot
ExecStart=%h/.config/hypr/scripts/hyprsunset.conf.sh
Restart=on-failure
RestartSec=10m
